# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.Python
/env/
/venv/
.ipynb_checkpoints/

.vscode/

# Environment
.env

# Pipenv
.venv/

# virtualenv
venv/
env/

# Scraped data output
data/output_sales_report.xlsx